<!-- ------------------- code for partials ----------------- -->

<!-- <html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>
    <%- include('_header');%>

    <h1>Codeial / Profile Page</h1>

    <%- include('_footer');%>
</html> -->

<!-- ------------------ code for layouts -------------------- -->



<p><%= user.name%></p>
<p><%= user.email%></p>

<a href="/users/sign-out">Sign Out</a>